:root {
    --EVA-00: #e6770b;
    --EVA-01: #814ebb;
    --EVA-02: #ee3e22;
    --EVA-00-dark: rgb(124, 72, 20);
    --EVA-01-dark: #814ebb;
    --EVA-02-dark: #ee3e22;
    --light: #ebebeb;
    --dark: #222222;

    --sizeX: 1200px;
    --sizeY: 100%;

    --move: 0;

}
$EVA-00: var(--EVA-00);
$EVA-01: var(--EVA-01);
$EVA-02: var(--EVA-02);
$light: var(--light);
$dark: var(--dark);
$sizeX: var(--sizeX);
$sizeY: var(--sizeY);
$move: var(--move);
// Reset
html {
    box-sizing: border-box;

    height: 100vh;
    @extend %flex-center;
    background:linear-gradient(
        to bottom right,
        rgb(22, 3, 37) 50%,
        rgb(56, 6, 6) 100%,
        
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
// ---------


body {
    @extend %flex-center;
    width: 100vw;
    // height: 100vh;

    color: white;
    text-align: center;

    

    overflow-x: hidden;
}
img {
    max-width: 100%;
    // height: 100%;
    
    object-fit: cover;
}
h1 {
    padding: 1rem;
    font-size: 2.2rem;
    display: inline-block;

    --borders: 1px solid white;
    border-top: var(--borders);
    border-bottom: var(--borders);
}
p {
    padding: 1rem;
    font-size: 1.5rem;
}
a {
    color: $EVA-00;
    text-decoration: none;
}
.container {
    width: 1000px; 
    // height: 100%;
}

// =====================================================================
%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider{
    
    width: 100%;
    height: var(--sizeY);
    margin: 1rem auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
    overflow: hidden;
    
        // z-index: 100;
     &__arrow {
        // position: relative;
        width: 9%;
        height: 100%;
        // border: 1px solid $light;
        font-size: 3vw;
        color: $light;
        opacity: .4;
        

        @extend %flex-center;
        cursor: pointer;
        z-index: 1000;

        transition: background .5s ease, opacity .5s ease;

        &-prev:hover,
        &-next:hover  {
                background: rgba(255, 255, 255, 0.05);
                opacity: initial;
        }
    }
    &__images {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;

        transition: transform 1s ease-in-out;
        transform: translate($move);
        div {
            width: inherit;
            height: inherit;
            flex-shrink: 0;
            background-position: center;
            background-size: cover;

        }
    }
}